{% extends '::base.html.twig' %}

{% set items = cart.items %}

{% block content_header %}
	<h2>Bestellung</h2>
{% endblock %}

{% block content_breadcrumb %}{% endblock %}

{% block content %}
	<div id="cart">
		{% if items | length > 0 %}
			<div class="row">

				<div class="col-md-12">
					<table class="table">
						<thead>
						<tr>
							<th>#</th>
							<th>Bild</th>
							<th>Format</th>
							<th>Preis</th>
							<th>Menge</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						{% for item in items %}
							<tr>
								<td>{{ loop.index }}</td>
								<td>{% include '@App/Image/_thumb.html.twig' with {'image': item.image } %}</td>
								<td>{{ item.format.format }}</td>
								<td>{{ item.price }}</td>
								<td>{{ item.amount }}</td>
								<td>
									{{ form_start(deleteForm) }}

									{{ form_widget(deleteForm.item, {'value': item.id}) }}

									<button type="submit" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i>
										löschen
									</button>
									{{ form_end(deleteForm) }}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">

				</div>
				<div class="col-md-8">

				</div>
			</div>
		{% else %}
			<div class="alert alert-warning">
				Ihr Warenkorb ist leer!
			</div>
		{% endif %}
	</div>
{% endblock %}