{% extends '::base.html.twig' %}

{% set items = cart.items %}

{% block content_header %}
	<h2>Ihr Warenkorb <br>
		<small>enthält
			<mark>{% if cart.itemCount | length > 0 %}{{ cart.itemCount }}</mark>{% else %}keine{% endif %}
			Artikel
		</small>
	</h2>
{% endblock %}

{% block content_breadcrumb %}{% endblock %}

{% block content %}
	<div id="cart">
		{% if items | length > 0 %}
			<div class="row">

				<div class="col-md-12">
					<table class="table">
						<thead>
						<tr>
							<th class="col-sm-6">Artikel</th>
							<th class="text-right">Preis</th>
							<th class="text-right">Menge</th>
							<th class="col-sm-2 text-right">Summe</th>
						</tr>
						</thead>
						<tbody>
						{% for item in items %}
							<tr>
								<td>
									<div class="row">
										<div class="col-sm-4">
											{% if item.hasImages %}
												{% include '@App/Image/_thumb.html.twig' with {'image': item.firstImage } %}
											{% else %}
												<img src="http://via.placeholder.com/200?text=no+image"
												     alt="" class="img-responsive">
											{% endif %}
										</div>
										<div class="col-sm-8">
											<h4>{{ item.name }}</h4>
											{% for name, value in item.attributes %}
												<p>{{ name }}: {{ value }}</p>
											{% endfor %}
											{% set form =  deleteForm.createView %}
											{{ form_start(form) }}
											{{ form_widget(form.item, {'value': item.id}) }}
											<button type="submit" class="btn btn-xs btn-danger"
											        title="Artikel entfernen">
												<i class="fa fa-trash-o"></i> entfernen
											</button>
											{{ form_end(form) }}

										</div>
									</div>
								</td>
								<td class="text-right">{{ item.price | money }}</td>
								<td class="text-right">{{ item.quantity }}</td>
								<td class="text-right">{{ item.sum | money }}</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
						<tr>
							<td colspan="3" class="text-right">
								zzgl. Versandkosten
							</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3" class="text-right">
								MehrwertSt.
							</td>
							<td></td>
						</tr>
						<tr class="sum">
							<td colspan="3" class="text-right">
								Gesamtsumme
							</td>
							<td class="text-right">{{ cart.total | money }}</td>
						</tr>
						<tr class="order">
							<td colspan="4" class="text-right">
								{{ form_start(clearForm) }}
								<button type="submit"
								        class="btn btn-sm btn-danger pull-left">
									<i class="fa fa-trash-o"></i> Warenkorb leeren
								</button>
								{{ form_end(clearForm) }}
								<a href="{{ path('cart_checkout') }}"
								   class="btn btn-lg btn-success">Weiter zur Bestellung <i
											class="fa fa-angle-double-right"></i> </a>
							</td>
						</tr>
						</tfoot>
					</table>
				</div>
			</div>
		{% else %}
			<div class="alert alert-warning">
				Ihr Warenkorb ist leer!
			</div>
		{% endif %}
	</div>
{% endblock %}